@font-face {
	font-family: "Ubuntu";
	src: url("/resources/font/ubuntu/Ubuntu-B.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/resources/font/ubuntu/Ubuntu-BI.ttf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/resources/font/ubuntu/Ubuntu-C.ttf");
	font-stretch: condensed;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/resources/font/ubuntu/Ubuntu-L.ttf");
	font-weight: light;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/resources/font/ubuntu/Ubuntu-LI.ttf");
	font-weight: light;
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/resources/font/ubuntu/Ubuntu-M.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/resources/font/ubuntu/Ubuntu-MI.ttf");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/resources/font/ubuntu/Ubuntu-R.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/resources/font/ubuntu/Ubuntu-RI.ttf");
	font-weight: normal;
	font-style: italic;
}

body {
	background-image: linear-gradient(232deg, rgb(89, 50, 72) 0%, rgb(36, 47, 87) 100%); 
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container .center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.textdrop {
	text-shadow: rgb(0 0 0 / 50%) 0rem 0.35rem 0.5rem;
}

.textalign-left {
	text-align: left; # bypass body assignment
}

.dir li {
	list-style-image: url(resources/img/dirarrow.svg);
} 

ul.dir, .dir ul {
	padding-left: 1.5em;
}

a:link {
  color: #6E6EE6;
  text-decoration: none;
}

a:visited {
  color: #86B;
  text-decoration: none;
}

a:hover {
  color: #7E7EE7;
  text-decoration: none;
}

a:active {
  color: #5454E6;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(0%, 0%, 0%, 40%) 0%, rgba(0%, 0%, 0%, 20%) 100%);
  text-align: center;
  z-index: 999;
}

.footer-content {
  padding: 0 10px;
}