html.darkbg {
	background-color: #000000;
}

div.center {
	display: flex;
  	align-items: center;
	justify-content: center;
}

.dir li {
	list-style-image: url(resources/img/dirarrow.svg);
} 

ul.dir, .dir ul {
	padding-left: 1.5em;

}