body {
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

button {
	background-color: #d9d9d9;
	border: none;
	padding: 6px 10px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 6px;
	transition-duration: 0.2s;
	outline: none;
}

button:hover {
	background-color: #e8e8e8;
	border-radius: 4px;
}

button:active {
	background-color: #cfcfcf;
	border-radius: 8px;
}

#square {
	width:100px;
	height:100px;
	background-color:#d9d9d9;
	margin:auto;
	transition-duration: 0.2s;
	cursor: pointer;
	outline: none;
}

#square:hover {
	background-color:#e8e8e8;
}

#square:active {
	background-color:#cfcfcf;
}

#versionNumber {
	position:absolute;
	left:0px;
	bottom:0px;
	opacity:0.5;
	margin:8px;
	font-size:22px;
	z-index:100000000;
}
